<template>
  <div class="home__container">
	  <div class="home_left-panel">
		  <div class="home__avatar">
			  AVATAR HERE
		  </div>
		  <div>
				<div class="order-item__list__container">
				  <div class="order-item__list-title">Список покупок</div>
				  <div v-for="(orderItem, idx) in orderItems" :key="idx" class="order-item__container">

					  <div  class="order-item__title_container">
						  <span class="order-item__title">{{orderItem.product.title}}&nbsp;-&nbsp;</span>
						  <span class="order-item__count">{{orderItem.productCount}}</span>
					  </div>

					  <div class="order-item__chevron" @click="openedOrderItem = idx"></div>

					  <div v-if="idx == openedOrderItem" class="order-item__chevron_contents">
						  <div class="order-item__chevron_contents__row">
							  <span class="order-item__chevron_contents__text">В одном товаре</span>
							  <span class="order-item__chevron_contents__price">
								  {{orderItem.product.weight}} / {{orderItem.product.price}}
							  </span>
						  </div>
						  <div class="order-item__chevron_contents__row">
							  <span class="order-item__chevron_contents__text">Общая сумма</span>
							  <span class="order-item__chevron_contents__price">
								  ${{calculateProductTotal(orderItem.productCount, orderItem.product.price)}}
							  </span>
						  </div>
					  </div>
				  </div>
				</div>

			  <div class="order-total">
				  <span class="order-total__text">Общая сумма</span>

				  <div class="order-total__amount">$&nbsp;{{orderTotal}}</div>
			  </div>


			  <button class="order-execute">Оформить заказ</button>
		  </div>
	  </div>

	  <div class="home_right-panel">
		  <div class="home_right-panel__mask"></div>
		  <CategoryList :categories="categories"/>
	  </div>
  </div>

</template>

<script>
	import CategoryList from '../components/CategoryList.vue'

  export default {
  	components: {CategoryList},
	  data(){
		  return {
			  openedOrderItem: undefined
		  }
	  },
	  computed: {
  		categories(){
  			return this.$store.state.categories
		},
		orderItems(){
  			return this.$store.state.order
		},
	  	orderTotal(){
  			if(!this.orderItems.length)
  				return 0
			let a =  this.orderItems.reduce( (accum, eachItem) => {
				console.dir(this.calculateProductTotal(eachItem.productCount, eachItem.product.price))
				return accum + this.calculateProductTotal(eachItem.productCount, eachItem.product.price)
			},0)
			debugger
			return a
		}
	  },
	  methods: {
  		calculateProductTotal(count, price){
  			return Number.parseInt(count) * Number.parseFloat(price)
		}
	  }
  }
</script>
<style lang="scss">
	@import "../sizes.scss";

	.home__container{
		margin: auto;

		.home_left-panel,.home_right-panel{
			height: $page_height;
			background-color: $background-color;
		}

		.home_left-panel{
			width: 600px;

			.home__avatar{
				height: 200px;
				width: 100%;
				background-color: red;
			}

			.order-item__list__container{

				height: 420px;
				.order-item__list-title{
					height: 30px;
					width: 400px;
					font-size: 24px;
					color: white;
					padding: 10px;
				}

				.order-item__container{
					color: white;
					width: 400px;
					min-height: 30px;
					font-size: 20px;
					border-top: 1px solid cadetblue;
					padding: 10px;

					.order-item__title_container{
						float: left;

						.order-item__title{
							margin-left: 5px;
						}

						.order-item__count{
							margin-left: 5px;
						}
					}

					.order-item__chevron{
						float: right;
						margin-right: 5px;
						background-image: url("../assets/arrow.svg");
						background-repeat: no-repeat;
						background-position: center;
						width: 30px;
						height: 30px;
					}

					.order-item__chevron_contents{
						margin-top: 30px;
						min-height: 60px;

						.order-item__chevron_contents__row{
							min-height: 30px;
							font-size: 16px;
							color: floralwhite;
							padding-left: 10px;

							.order-item__chevron_contents__text{
								float: left;
							}
							.order-item__chevron_contents__price{
								float: right;
							}
						}
					}
				}
			}


			.order-total{
				margin-top: 60px;
				margin-left: 20px;
				height: 40px;
				width: 600px;
				color: white;
				font-size: 24px;
				font-weight: bold;

				.order-total__text{
					float: left;
					margin-left: 30px;
				}

				.order-total__amount{
					margin-right: 30px;
				}
			}

			.order-execute{
				background-color: white;
				color: cadetblue;
				font-size: 20px;
				border: 1px solid lawngreen;
				width: 70%;
				height: 40px;
				width: 400px;
				margin-left: -120px;
				border-radius: 20px;
			}
		}

		.home_right-panel{
			position: relative;
			top: -$page_height;
			left: 450px;
			width: 330px;
			background-color: white;

			max-height: $page_height;
			overflow: auto;

			.home_right-panel__mask{
				position: fixed;
				height: calc(#{$page_height} - #{$header_height});
				background-color: $background-color;
				width: 120px;

				-webkit-clip-path: ellipse(70% 50% at 0% 50%);
				clip-path: ellipse(80% 50% at 0% 50%);
				-webkit-shape-outside: ellipse(90% 70% at 0% 50%);
				shape-outside: ellipse(80% 90% at 0% 50%);
				-webkit-shape-margin: 2em;
				shape-margin: 2em;
			}
		}
	}
</style>
