<template>
	<div class="category-page__container">
		<!--<div v-if="category">{{category.title}}</div>-->
		<div class="order-total">
			{{orderTotal}}
		</div>

		<div class="category-products-list">
			<div v-for="product in productsInCategory"
				 :key="product.id"
				 :class="product.icon"
				 class="category-products__item"
				 @click="productSelected(product)">
				<div class="category-products__item__title">{{product.title}}</div>
				<div class="category-products__item__weight">{{product.weight}}</div>
				<div class="category-products__item__price">{{product.price}}</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CategoryPage",
		computed: {
			category(){
				return this.$store.getters.findCategory(this.$route.params.categoryId)
			},
			orderTotal(){
				let numberOfItems = this.$store.state.order.length
				let totalAmount = numberOfItems ? this.$store.state.order.reduce(
					(accumulator, currentValue) => 0 + accumulator + (currentValue.totalAmount)) : 0
				return `В корзине ${numberOfItems} покупок - $${totalAmount}`
			},
			productsInCategory(){
				return this.$store.getters.findProductsInCategory(this.$route.params.categoryId)
			}
		},
		methods: {
			productSelected(product){
				this.$router.push({ name: 'product', params: { productId: product.id } })
			}
		}
	}
</script>

<style lang="scss">
	@import "../sizes.scss";

	$order-total-width: 40px;

	.category-page__container{
		height: calc(#{$page_height} - #{$header_height});

		.category-products-list{
			width: calc(100% - #{$order-total-width} - 10px);
			/*border: 1px solid red;*/
			height: 99%;
			max-height: 99%;
			overflow: auto;
			position: relative;
			margin-left: 5px;
			top: -40px;
			right: -$order-total-width - 3px;

			.category-products__item{

				background-repeat: no-repeat;
				background-position: 10px 30px;
				background-size: 80px 160px;

				height: 200px;
				/*margin-top: 5px;*/
				border-bottom: 1px solid white;

				color: white;

				.category-products__item__title{
					font-size: 24px;
					padding-top: 40px;
				}

				.category-products__item__weight{
					font-size: 18px;
					text-align: left;
					/*width: 45%;*/
					display: inline-block;
					padding-left: 50px;
					/*border: 1px solid red;*/
				}

				.category-products__item__price{
					font-size: 20px;
					font-weight: bold;
					text-align: right;
					width: 45%;
					display: inline-block;
					/*border: 1px solid red;*/
				}
			}
		}

		.order-total{
			/*transform: translateY(500px);*/
			transform: rotate(270deg);
			position: relative;
			top: 50%;
			left: -57.5%;
			border: 1px solid greenyellow;
			height: $order-total-width;
			width: 850px;

			color: white;
			font-size: 24px;

		}


		.meat{
			background-image: url("../assets/productMilk.png");
			background-color: #FF3571;
		}

		.burger{
			background-image: url("../assets/productMilk.png");
			background-color: #FBAF00;
		}
		.milk-bottle{
			background-image: url("../assets/productMilk.png");
			background-color: #00D6BB;
		}
		.water{
			background-image: url("../assets/productMilk.png");
			background-color: mediumpurple;
		}
	}
</style>