<template>
	<div class="category-list__container scroll">
		<div class="category-list_item"
			 :class="category.icon"
			 v-for="category in categories"
			 :key="category.id"
			@click="categorySelected(category)">
			<span class="category-list_item__text">
				{{category.title}}
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CategoryList",
		props: {
			categories: {
				type: Array,
				required: true
			}
		},
		methods: {
			categorySelected(category){
				this.$router.push({ name: 'category', params: { categoryId: category.id } })
			}
		}
	}
</script>

<style lang="scss">

	@import "../sizes.scss";
	$category_height: 200px;
	$category_text_top: 150px;

	.category-list__container{

		.category-list_item{
			height: $category_height;
			margin-bottom: 5px;
			margin-top: 3px;
			background-color: red;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 80px 80px;

			.category-list_item__text{
				position: relative;
				top: $category_text_top;
				color: white;
				font-weight: bold;
				font-size: 20px;
			}
		}

		.category-list_item:nth-of-type(1){
			margin-top: 0px;
		}

		.meat{
			background-image: url("../assets/meat.svg");
			background-color: #FF3571;
		}

		.burger{
			background-image: url("../assets/burger.svg");
			background-color: #FBAF00;
		}
		.milk-bottle{
			background-image: url("../assets/milk-bottle.svg");
			background-color: #00D6BB;
		}
		.water{
			background-image: url("../assets/water.svg");
			background-color: mediumpurple;
		}
	}
</style>