<template>
	<div class="product-page__container">
		<div class="product-page__icon" :class="product.icon"></div>
		<div class="product-page__title">{{product.title}}</div>

		<div class="product-page__price-count-container">
			<div class="product-page__count">
				<button @click="countDecrement">-</button>
				<input type="text" v-model.number="productCount"/>
				<button @click="countIncrement">+</button>
			</div>
			<div class="product-page__price">{{product.price}}</div>
		</div>

		<div class="product-page__description">
			<b>{{product.description.title}}</b><br>
			{{product.description.content}}
		</div>

		<button class="product-page__buy-button" @click="productSelected(product)">В корзину</button>
	</div>
</template>

<script>
	export default {
		name: "ProductPage",
		computed: {
			product(){
				return this.$store.getters.findProduct(this.$route.params.productId)
			},
		},
		data(){
			return {
				productCount: 0
			}
		},
		methods: {
			productSelected(product){
				// FIXME update order
				this.$store.commit('addOrderItem', {
					product: this.product,
					productCount: this.productCount
				})
				this.$router.push({ name: 'home'})
			},
			countIncrement(){
				this.productCount++
			},
			countDecrement(){
				if(this.productCount > 0)
					this.productCount--
			},
		}
	}
</script>

<style lang="scss">

	@import "../sizes.scss";


	.product-page__container {
		height: calc(#{$page_height} - #{$header_height});
		background-color: white;
		padding: 20px;

		.product-page__icon{
			width: 200px;
			height: 200px;
			margin: auto;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 80px 160px;
		}

		.product-page__title{
			width: 100%;
			text-align: center;
			height: 40px;
			font-size: 20px;
		}

		.product-page__price-count-container{
			width: 100%;
			font-size: 20px;


			.product-page__count{
				/*width: 100px;*/
				display: inline-block;
				/*height: 30px;*/
				border-radius: 15px;
				padding-left: 3px;
				border: 1px solid gray;

				input{
					font-size: 20px;
					width: 20px;
					border: none;
				}
				button{
					height: 30px;
					background-color: inherit;
					border: none;
					font-size: 20px
				}
			}
			.product-page__price{
				width: 200px;
				display: inline-block;
			}

		}

		.product-page__description{
			width: 100%;
			text-align: left;
		}

		.product-page__buy-button{
			background-color: $background-color;
			color: white;
			border-radius: 10px;
			width: 80%;
			height: 40px;
			font-size: 20px;
		}


		.meat{
			background-image: url("../assets/productMilk.png");
		}

		.burger{
			background-image: url("../assets/productMilk.png");
		}
		.milk-bottle{
			background-image: url("../assets/productMilk.png");
		}
		.water{
			background-image: url("../assets/productMilk.png");
		}
	}

</style>