<template>
  <div id="app">
    <div id="nav">
      <!--<router-link to="/">Home</router-link> |-->
      <!--<router-link to="/about">About</router-link>-->
		<div v-if="shouldShowBackArrow"
			 @click="navigateBack"
			 class="arrow-back"></div>
		<h3>{{pageName}}</h3>

    </div>
    <router-view/>
  </div>
</template>

<script>

	export default {
		methods: {
			navigateBack(){
				this.$router.push({name: 'home'})
			}
		},
		computed: {
			shouldShowBackArrow(){
				return this.$store.state.route.name != 'home'
			},
			pageName(){
				switch (this.$store.state.route.name) {
					case 'home':
						return "Корзина"
					case 'category':
						let cat = this.$store.getters.findCategory(this.$store.state.route.params.categoryId)
						return cat.title
				}
				return this.$store.state.route.name
			}
		}
	}
</script>
<style lang="scss">

	@import "../src/sizes.scss";

	body{
		overflow: hidden;
	}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
	background-color: $background-color;
	width: 800px;
  margin-top: 60px;
	overflow: hidden;

	#nav{
		height: $header_height;
		border: 1px solid black;
		color: white;
		font-size: 24px;
		font-weight: bold;
	}
	::-webkit-scrollbar {
		display: none;
	}

	.arrow-back{
		float: left;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30px 30px;
		background-image: url("./assets/arrow.svg");
		transform: rotate(180deg);
	}
}

@media only screen and (min-width: 700px) {
  #app {
    /*width: 60%;*/
	  width: 700px;
	  max-height: 900px;
	height: 90%;
	margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  #app {
    /*width: 90%;*/
	height: 90%;
	  width: 700px;
	  /*min-width: 700px;*/
  }
}
</style>
